================================================================================
  TICKET: <TICKET-KEY>
  Summary:    <summary>
  Status:     <status>
  Type:       <type>
  Priority:   <priority>
  Project:    <project>
  Assignee:   <assignee>
  Reporter:   <reporter>
  Components: <components>
  Created:    <created>
  Updated:    <updated>
  Description:
    <description>
================================================================================


================================================================================
  FINDINGS
================================================================================


================================================================================
  PROPOSED SOLUTIONS
================================================================================


================================================================================
  RISK CONSIDERATIONS
================================================================================


================================================================================
  PROPOSED ACTIONS
================================================================================


================================================================================
  ACTION LOG
================================================================================


================================================================================
  STATUS
================================================================================


================================================================================
  TIME LOGGED
================================================================================
